*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  background-color: rgb(85, 136, 153);
  width: 100%;
}

.main {
  margin-top: 130px;
  margin-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  background-color: rgb(85, 136, 153);
  width: 100%;
  font-size: 30px;
}

.contactButton {
  background-color: rgb(85, 136, 153);
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-left: 2rem;
  border: 1px solid yellow;
}
